<!-- ユーザー詳細・投稿フォーム -->
<%= render partial: 'books/user_info', locals: { user: @user } %>

<%= render partial: 'books/form', locals: { book: @book } %>

<!-- 投稿詳細 -->
<h2>Book detail</h2>
<table>
  <tr>
    <td>
      <%= image_tag @post.user.get_profile_image(100, 100) %>
    </td>
    <td>
      <%= link_to @post.user.name, user_path(@post.user) %>
    </td>
    <td><%= @post.title %></td>
    <td><%= @post.body %></td>
    <td>
      <% if @post.user == current_user %>
        <%= link_to "Edit", edit_book_path(@post), method: :get %>
      <% end %>
    </td>
    <td>
      <% if @post.user == current_user %>
        <%= link_to "Destroy", @post, method: :delete, data: { confirm: "本当に削除しますか？" } %>
      <% end %>
    </td>
  </tr>
</table>


